.top-rest {
    margin: 0 auto;
    padding: 40px 0px 11% 0px;
    max-width: 1920px;
    @media(max-width: 1195px) {padding-top: 56px;}
    @media(max-width: 1060px) {padding: 56px 0px 23% 0px;}
    @media(max-width: 554px) {padding-top: 11vw;}
    @media(max-width: 530px) {padding-bottom: 35%;}
    
    &__header-block {
        margin-bottom: 8.05%;
        @media(max-width: 1195px) {
            margin-bottom: 5.8%;
        }
        @media(max-width: 1060px) {margin-bottom: 9%;}
    }

    &__title {}

    &__subtitle {}

    &__slider {
        padding-right: 14.5%;
        @media(max-width: 1060px) {padding: 0px 30px;}
        @media(max-width: 400px) {padding: 0px 20px;}
    }

    &__swiper {}
}

.swiper {
    position: relative;
    max-width: 1358px;
    @media(max-width: 1060px) {
        margin: 0 auto;
        max-width: 642px;
    }
    &:before {
        position: absolute;
        content: '';
        top: -70px;
        left: 20px;
        width: 316px;
        height: 50px;
        background: url('../img/top-rest-dots.svg');
        background-size: 100% 100%;
        @media(max-width: 1060px) {
            top: -17px;
            left: -19px;
        }
        @media(max-width: 500px) {display: none;}
    }
    &:after {
        position: absolute;
        content: '';
        bottom: -31px;
        right: 8.5px;
        width: 316px;
        height: 386px;
        background: url('../img/top-rest-dots2.svg');
        background-size: 100% 100%;
        @media(max-width: 1195px) {
            bottom: -69px;
            right: -49px;
        }
        @media(max-width: 1060px) {
            bottom: 10px;
            right: -22px;
        }
        @media(max-width: 500px) {display: none;}
    }

    &-container {
        position: relative !important;
        margin: 0 0 !important;
        height: 100%;
        max-width: 1358px;
        width: 100%;
        @media(max-width: 1060px) {
            margin: 0 auto !important;
            max-width: 640px;
        }
    }

    &-slide {
        position: absolute;
        font-size: 38px;
        display: flex;
        @media(max-width: 1060px) {flex-direction: column;}
    }

    &-item {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-bottom: 46.8%;
        border-radius: 20px;
        margin-right: 3%;
        @media(max-width: 1195px) {
            padding-bottom: 48.3%;
            margin-right: 1.7%;
        }
        @media(max-width: 1060px) {
            margin: 0px 0px 6.25% 0px;
            padding-bottom: 100%;
        }
    
        & img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    
    }
}

.item {
		&__img {}

		&__description {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: left;
            background: rgba(254, 4, 60, 0.7);
            padding: 6.2% 7% 12.8% 9.5%;
            @media(max-width: 1195px) {padding: 2% 7% 3% 6%;}
		}

		&__tite {
            font-weight: bold;
            font-size: 24px;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-bottom: 3%;
            @media(max-width: 1195px) {
                max-width: 126px;
                margin-bottom: 2.5%;
            }
            @include adaptive-value("font-size", 24, 18, 554, 320);
		}

		&__text {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            text-transform: capitalize;
            color: #FFFFFF;
            max-width: 386px;
            margin-bottom: 1%;
            @media(max-width: 1195px) {
                max-width: 300px;
                margin-bottom: 0;
            }
            @include adaptive-value("font-size", 14, 10, 554, 320);
            @media(max-width: 460px) {
                line-height: 18px;
                max-width: 250px;
            }
		}

		&__link {
            position: relative;
            font-size: 14px;
            text-transform: capitalize;
            color: #FFFFFF;
            padding-left: 30px;
            @media(max-width: 1995px) {padding-left: 40px;}
            @include adaptive-value("font-size", 14, 10, 554, 320);
            @media(max-width: 554px) {padding-left: 10%;}
            &:before {
                position: absolute;
                content: '';
                top: -20%;
                right: 82%;
                height: 125%;
                width: 20%;
                background: url('../img/icons/small-pointer.svg');
                background-size: 100% 100%;
            }
		}

		&__button {
            position: absolute;
            bottom: 15%;
            right: 0px;
            background-color: #fff;
            border-radius: 100px 0px 0px 100px;
            padding: 2.6% 10.1%;
            @media(max-width: 1195px) {padding: 2% 9% 2% 7.5%;}
            
            & span {
                font-size: 16px;
                line-height: 24px;
                text-transform: capitalize;
                color: #FE043C;
                white-space: nowrap;
                @include adaptive-value("font-size", 16, 12, 554, 320);
                @media(max-width: 460px) {line-height: 20px;}
            }
		}
}

.swiper-button-next {
    position: relative;
    top: 47.6% !important;
    right: -10.5% !important;
    width: 90px !important;
    color: rgba(254, 4, 60, 0) !important;
    @media(max-width: 1060px) {
        top: 104% !important;
        right: 46% !important;
    }
    
    &:after {
        position: absolute;
        content: '';
        top: 0;
        right: -15px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #FE043C;
    }
    &:before {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        height: 2px;
        width: 72px;
        background-color: #FE043C;
        @media(max-width: 1195px) {
            height: 3px;
            width: 65px;
        }
    }

    &-arrow {
        z-index: 20;
        position: absolute;
        top: 9px;
        left: 78px;
        width: 12px;
        height: 22px;
        background: url('../img/icons/swiper-arrow.svg');
        background-size: 100% 100%;
        opacity: 1;
        @media(max-width: 1195px) {
            top: 13px;
            left: 82px;
            width: 7.5px;
            height: 14px;
        }
        &:after {
            position: absolute;
            content: 'See More';
            top: 51px;
            left: -26px;
            font-family: Poppins;
            font-size: 14px;
            color: #FE043C;
            width: 70px;
        }
    }
}






